<h1> Take your wife on a romantic getaway, fool!! </h1>

<img src = "http://localhost:3000/assets/couple.jpg">

<a href = "http://www.flexijourney.com/blog/60-romantic-getaways-of-the-world">
		<BR> Find your next getaway here
</a>