<h1> The <%= @line.name %> Line</h1>

<p>
	The <%= @line.name %> line should arrive at your station
	every <%= @line.frequency %> minutes.
	
</p>

<a href = "http://localhost:3000/couple">
	<BR> Click here if you're a married man!!
</a>